obj
bin
deploy
*.csproj.user
*.suo
*.cache
*.nupkg
~$*
*~
*ReSharper*
*.swp
*.testsettings
*.dbmdl
*.pidb
*.docstates
test-results
NDependOut
*.dotCover
*.user
*.userprefs
.DS_Store
*.xam
*.ldf
pubxml
Portable/Packages

